<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>お天気SNS-フォロー一覧</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>フォロー中</h1>
  <div class="follows-list">
    <% @follows.each do |follow| %>
      <% follow_user = User.find(follow.follow_user_id) %>
      <div class="follow-item">
        <a href="/profile/<%= follow_user.id %>"><img src="/img/<%= follow_user.icon %>" class="profile-icon"></a>
        <h1><%= follow_user.name %></h1>
      </div>
    <% end %>
  </div>
</body>
</html>