<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>お天気SNS-投稿</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>フォロワー</h1>
  <% if @followers != nil %>
  <div>
    <% @followers.each do |follower| %>
      <% follower_user = User.find(follower.user_id) %>
      <div class='follow-item'>
        <a href="/profile/<%= follower_user.id %>"><img src='/img/<%= follower_user.icon %>' class='profile-icon'></a>
        <h1><%= follower_user.name %></h1>
      </div>
    <% end %>
  </div>
  <% else %>
    <h1>フォロワーがいません！悲しい！</h1>
  <% end %>
</body>
</html>